
/* MEDIAQUERY */

@media screen and (max-width: 420px) {

  #lezioni .row>.left, #lezioni .row>.right {
      width: 100%;

  }
  #steps .row>.left, #steps .row>.central, #steps .row>.right {

      width: 100%;
  }
  .row{
    width: 100%;
  }


}
